html{
    background-image: url("https://png.pngtree.com/background/20210714/original/pngtree-black-with-yellow-abstract-background-brutal-picture-image_1233240.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#gear{
    background-color:none;
    font-size:125px;
    position:fixed;
    top:20px;
    margin-left:10px;
    color:rgb(218, 170, 12);
    float:left;
    opacity:0.6;
    animation:spinner;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

@keyframes spinner{
    100%{transform:rotateZ(360deg);}
}

h1{
    margin: 100px;
    text-align: center;
    font-size:50px;
    font-family:'Press Start 2P', cursive;
    font-weight: bold;
    color: rgb(211, 165, 16);
    text-shadow: 5px 5px 1px #fde38f;
}

h3{
    margin: 100px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    color:rgb(214, 175, 47);
    position:relative;

}

nav ul{
    padding:0;
    margin-top:10px;
    float:right;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;

}

nav ul li{
    background-color: none;
    list-style:none;
    border-left: 8px solid rgb(128, 100, 9);
    display:inline-block;
    color:rgb(131, 131, 233);
    font-size:20px;
    position:relative;
    padding:8px 15px 8px 15px;
    background-color:none;
    transition: background-color 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a{
    text-decoration:none;
}
a:visited{
    color:rgb(131, 131, 233);
}

nav ul li:hover{
    /* animation:backShow;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1); */
    background-color:rgb(185, 143, 3);

}

/* @keyframes backShow{
    100%{background-color:rgb(185, 143, 3);}
} */

nav ul ul{
    position:absolute;
    top:30px;
    display:none;
}

nav ul li:hover > ul{
    display:block;
}

nav ul ul li{
    float:none;
    display:list-item;
    text-align: center;
    width:90px;
    position:relative;
    border-bottom:10px;
    border-color:rgb(163, 126, 2);
    background-color:rgb(233, 197, 39);
    opacity:0.5;
}

nav ul ul li:hover{
    background-color:rgb(233, 197, 39);
    font-weight:bold;
    opacity:1.0;
}

#lastdrop{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#edgeborder{
    border-bottom-left-radius:8px;
}

#button{
    position:absolute;
    top:400px;
    right:550px;
    margin:auto;
    text-align:center;
    border:3px solid rgb(233, 197, 39);
    width:200px;
    height:20px;
    padding:10px;
    border-radius:5px;
    color:rgb(131, 131, 233);
    font-family:'Times New Roman', Times, serif;
    transition:background-color 1s linear;
}

#button:hover{
    background-color:rgb(233, 197, 39);
}


#container{
    margin: 15px;
    display: flex;
    flex-wrap: nowrap;
    background-color:rgb(187, 145, 9);
    border-radius: 8px;
}

#container div{
    color: white;
    background-color:grey;
    width: 240px;
    height: 240px;
    text-align: center;
    margin:10px;
    font-size: 50px;
    line-height:100px;
    border-radius:5px;
}

#container img{
    border: 8px solid rgb(126, 58, 13);
    width: 224px;
    height: 224px;
    border-radius: 5px;
}

hr{
    height:2px;
    background-color:orange;
    border:none;
    opacity:0.3;
}

h2{
    font-size:20px;
    color:rgb(131, 131, 233);
    font-family:cursive;
    margin-left:30px;

}
#calc{    
    color:rgb(131, 131, 233);
    width:30px;
    height:30px;
}

#section2{
    font-size:30px;
    font-family:'Press Start 2P', cursive;
    text-shadow:5px 5px 1px #fde38f;
    text-align:center;
    color:rgb(211, 165, 16);

}

/* #title1{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:23px;
    line-height:0px;
    font-weight:bold;
} */
#descriptor{
    background:linear-gradient(to right, rgb(37, 34, 32),rgb(211, 165, 16));
    width:280px;
    margin: 32px 42px 32px 42px;
    float:left;
    border-radius:10px;
    box-shadow:0px;
    transition: box-shadow 2s ease;
    transition:color 1s ease;
    font-size:17px;
    text-align:center;
    padding:42px 40px 42px 40px;
    color:rgb(212, 200, 200);
    border:2px rgb(199, 169, 33);
    font-family:'Times New Roman', Times, serif;
}
#descriptor:hover{
    box-shadow: 0 0 15px 5px rgb(231, 108, 7);
    color:black;
}

#descriptor2{
    background:linear-gradient(to right,rgb(211, 165, 16),rgb(37, 34, 32));
    width:280px;
    margin: 32px 42px 32px 42px;
    float:left;
    border-radius:10px;
    box-shadow:0px;
    transition: box-shadow 2s ease;
    font-size:17px;
    text-align:center;
    padding:45px 40px 45px 40px;
    color:rgb(212, 200, 200);
    border:2px rgb(199, 169, 33);
    transition:color 1s ease;
    font-family:'Times New Roman', Times, serif;
}
#descriptor2:hover{
    box-shadow: 0 0 15px 5px rgb(231, 108, 7);
    color:black;
}

#descriptor3{
    background:linear-gradient(to right,rgb(211, 165, 16),rgb(170, 167, 135),rgb(211, 165, 16));
    width:280px;
    margin: 32px 42px 32px 42px;
    float:left;
    border-radius:10px;
    box-shadow:0px;
    transition: box-shadow 2s ease;
    font-size:17px;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right:40px;
    color:rgb(212, 200, 200);
    border:2px rgb(199, 169, 33);
    transition:color 1s ease;
    font-family:'Times New Roman', Times, serif;
}
#descriptor3:hover{
    box-shadow: 0 0 15px 5px rgb(231, 108, 7);
    color:black;
}





