body{
    /* background-color:black; */
    /* background-image: url(url of the image) */
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}
h1{
    color:black;
    font-family:"press start 2p","consolas",sans-serif;
    padding:20px;
    border-top-style:dotted;
    border-bottom-style:groove;
    border-left-style:double;
    border-right-style:dashed;
    border-left-color:tomato;
    text-shadow: 5px 5px 5px orange;
    box-shadow: 5px 5px 5px black;
}
p{
    /* background-color:grey; */
    color:black;
    font-family: "consolas", sans-serif;
    font-style:italic;
    font-weight:bold;
    text-decoration: cyan dotted underline;
    font-size: 18px;
    background:linear-gradient(to right, skyblue,white);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

#borders{
    background-color:yellowgreen;
    border-style:outset;
    border-width:5px;
    border-color:turquoise;
    border-radius:10px;
    padding:5px;


}
/* #tomato{
    color:tomato;
}
#potato{
    background-color:darkgoldenrod;
}
#watermelon{
    color:darkgreen;
}
.odd{ 
    font-family:Arial;
}
.even{ 
    font-family:fantasy;
} */

#box1{
    border:5px dashed;
    width:250px;
    height:250px;
    font-size:22px;
    background-color:yellowgreen;
    padding:10px;
    /* margin-top:20px;
    margin-left:20px;
    margin-bottom:20px;
    margin-right:10px; */
    margin:10%;
}

#box2{
    border:5px dashed;
    width:250px;
    height:250px;
    font-size:22px;
    background-color:turquoise;
    margin-right:auto;
    margin-left:auto;
}
.boxes{
    text-align:center;
    width:150px;
    height:150px;
    background-color:tomato;
    font-size:30px;
    font-weight:bold;
    border:10px outset green;
    float:left;
    margin:20px;
}

#punderbox{
    clear:left;
}

#boxout{
    height:300px;
    width:300px;
    background-color:lightblue;
    border: black solid;
    /* position: relative;
    top:30px;
    left:10px; */
    position: sticky;
    top:0px;
    bottom:0px;
    margin-bottom:30px;
}

#boxin{
    height:100px;
    width:100px;
    border-radius:10px;
    border: black dashed;
    background-color: tomato;
    position: absolute;
    top:100px;
    left:100px;
}

/* Pseudo class */
a:link{
    color:green;
    font-size:40px;
    font-weight:bold;
}

a:visited{
    color:grey;
}

a:hover{
    color:tomato;
}

a:active{
    color:yellow;
}

button:hover{
    background-color:orange;
}

button:active{
    background-color:blueviolet;
    height:100px;
    width:200px;
    font-size:30px;
}

.list{
    font-size: 25px;
    color:brown;
}

/* li:nth-child(odd){
    background-color:powderblue;
} */

li:nth-child(3n){
    background-color:powderblue;
}

h2{
    text-shadow: 0px 0px 5px orangered, 0px 5px 5px yellow;
}
h2:hover{
    box-shadow: 5px 5px 5px black;
}
/* 
use fontawesome for icons */

#boxspecial{
    height:250px;
    width:250px;
    background: skyblue;
    font-size:190px;
    text-align:center;
    border:10px black solid;

    transform:translateX(50px);
    transform: translateY(50px);
    transform: translate(50px, 50px);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    transform: rotateZ(180deg);
    transform: scaleX(1);
    transform: scaleY(1);
    transform: scale(1,1);
    transform: skewX(0deg);
    transform: skewY(0deg);
    transform: skew(0,0);
    transform: matrix(1,0,0,1,0,0);

    /* matrix{
        scaleX();
        skewY();
        skewX();
        scaleY();
        translateX();
        translateY();
    } */

}

#animationbox{
    width:250px;
    height:250px;
    text-align:center;
    background: tomato;
    font-size: 225px;
    margin-top: 30px;
    border: black outset 10px;

    /* animation: myScale;
    animation-play-state: running;
    animation-iteration-count:infinite;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-duration: 5s; */

    /* animation: 5s ease 0s infinite running myScale; */
    /* animation{
        duration;
        timing-function;
        delay;
        iteration;
        play-state;
        animation name;
    } */
}

#animationbox:hover{
    animation: 5s ease 0s infinite running myColorChange;

}

#animationbox:active{
    animation: 5s ease 0s infinite running mySlide;
}
 
@keyframes mySlide{
    from{margin-left:0%;}
    to{margin-left:100%;}
}

@keyframes myRotation{
    100%{transform: rotateX(360deg);}
}

@keyframes myOpacity{
    50%{opacity: 0%;}
}

@keyframes myColorChange{
    0%{background-color: red;}
    12.5%{background-color:orange;}
    25%{background-color: yellow;}
    37.5%{background-color:green;}
    50%{background-color:powderblue;}
    62.5%{background-color:blue;}
    75%{background-color:purple;}
    87.5%{background-color:pink;}
    100%{background-color:red;}
}

@keyframes myScale{
    50%{transform:scale(0.5,0.5);}
}
