#back{
    background-image:url("https://png.pngtree.com/background/20210714/original/pngtree-black-with-yellow-abstract-background-brutal-picture-image_1233240.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    height:660px;

}

#form{
    display:nowrap;
    background-color:rgb(231, 175, 22);
    padding:20px;
    border: 10px solid rgb(146, 102, 20);
    border-radius:8px;
    text-align:center;
    margin:auto;
    font-size:20px;
    font-family:fantasy;
    width:500px;
}

form{
    margin-top:25px;
    margin-bottom:25px;
}

#reset{
    background-color:rgb(255, 115, 0);
    border:5px solid rgb(156, 70, 0);
    border-radius:5px;
    width:150px;
    height:60px;
    width: 150px;
    height:60px;
    transition: height width 3s ease;
}
#submit{
    background-color:rgb(191, 204, 7);
    border:5px solid rgb(116, 124, 4);
    border-radius:5px;
    width: 150px;
    height:60px;
    transition: height width 3s ease;
}

#submit:hover{
    width:175px;
    height:80px;
}
#reset:hover{
    width:175px;
    height:80px;
}

#gear1{
    color:rgb(218, 170, 12);
    opacity:0.6;
    float:left;
    position:relative;
    font-size:100px;
    top:20px;
    left:20px;
    animation:spinner1;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
}
#gear2{
    color:rgb(218, 170, 12);
    opacity:0.6;
    float:left;
    position:absolute;
    font-size:100px;
    transform:rotateZ(15deg);
    top:100px;
    left:81px;
    animation:spinner2;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-direction:reverse;
}

@keyframes spinner1{
    100%{transform:rotateZ(360deg)}
}
@keyframes spinner2{
    100%{transform:rotateZ(360deg)}
}